@using Veterinaria.Gestion.Dto.Request.Especialidad

<EditForm Model="Request" OnValidSubmit="OnGuardar" >
	<DataAnnotationsValidator />
	<div class="row ">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<label>Nombre: </label>
			<input type="text" class="form-control" @bind="Request.Nombre" />
			<ValidationMessage For="() => Request.Nombre" />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">
			<label>Descripcion: </label>
			<input type="text" class="form-control" @bind="Request.Descripcion" />
			<ValidationMessage For="() => Request.Descripcion" />
		</div>
	</div>
	<div class="row mt-4 gx-4">
		<div class="col">
			<button type="submit" class="btn btn-primary">Guardar</button>
			<a href="@Rutas.ListaEspecialidad" class="btn btn-danger">Cancelar</a>
		</div>
	</div>
</EditForm>

@code {
	[Parameter]
	public EventCallback OnGuardarEvent { get; set; } = new();

	[Parameter]
	public EspecialidadRequest Request { get; set; } = new();


	public async Task OnGuardar()
	{
		await OnGuardarEvent.InvokeAsync();
	}

}
