<div class="card p-2 mt-4">
	<div class="row">
		<div class="col-1">
			<span class="badge bg-success  text-white position-absolute top-0 start-0 fs-6 translate-middle-y">@Titulo</span>
		</div>
	</div>
	<div class="row justify-content-between mt-3 ps-4">
		@Contenido
	</div>
</div>

@code {

	[Parameter]
	public string Titulo { get; set; } = string.Empty;

	[Parameter]
	[EditorRequired]
	public RenderFragment Contenido { get; set; } = default!;
}